body{
    background-color: #333;
}

nav {
    font-size: 20px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

}

a:link{
    text-decoration: none;
}

nav a{
    margin-right: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between 1440px;
}